.gallery {
    width: 100%;
    margin-top: 2rem;
}

.gallery-view1,
.gallery-view2 {
    width: 100%;
    display: flex;
}

.gallery-view1-Image1,
.gallery-view1-Image2,
.gallery-view2-Image1,
.gallery-view2-Image2 {
    width: 50%;
    background-image: url("https://cdn.shopify.com/s/files/1/0607/6678/1671/files/Men_s_Sports_Shoes.jpg?v=1687265053");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 46.25rem;
    filter: brightness(0.9);
}

.gallery-view1-Image2 {
    background-image: url("https://cdn.shopify.com/s/files/1/0607/6678/1671/files/Men_s_Sneakers.jpg?v=1687265118");
    margin-right: 1rem;
}

.gallery-view2-Image1 {
    background-image: url("https://cdn.shopify.com/s/files/1/0607/6678/1671/files/Campus_X_Justice_League.jpg?v=1687265193");
}

.gallery-view2-Image2 {
    background-image: url("https://cdn.shopify.com/s/files/1/0607/6678/1671/files/Chunky_Sneakers_for_Women.jpg?v=1687265246");
    margin-right: 1rem;
}

@media only screen and (max-width: 768px) {

    .gallery-view1-Image1,
    .gallery-view1-Image2,
    .gallery-view2-Image1,
    .gallery-view2-Image2 {
        height: 11rem;
    }

    .gallery-view1-Image2 {
        margin-right: 0;
    }

    .gallery-view2-Image2 {
        margin-right: 0;
    }
}