.missed-the-sale {
    width: 100%;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    background-color: #f7f1f0;
    position: relative;
}

.missed-sale-container {
    width: 80%;
    padding: 5rem;
    padding-left: 0;
    padding-bottom: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8.5rem;
}

.missed-sale-img1 {
    position: absolute;
    bottom: 4.8rem;
    left: 3.7rem;
}

.missed-sale-img2 {
    margin-left: 1.3rem;
    margin-bottom: 0.35rem;
}

.missed-sale-content {
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.2rem;
}

.missed-sale-content h2 {
    margin: 0;
    font-family: "New York", "Iowan Old Style", "Apple Garamond", Baskerville, "Times New Roman", "Droid Serif", Times, "Source Serif Pro", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.375rem;
    color: #343434;
}

.missed-sale-content p {
    margin: 0;
    font-family: 'Jost', sans-serif;
    font-size: 0.92rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #343434;
}

.missed-sale-content a {
    text-decoration: none;
    background-color: #212b36;
    color: #fff;
    font-size: 0.813rem;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    line-height: 0.813rem;
    padding: 0.95rem 1.563rem;
    border: 1px solid #212b36;
    cursor: pointer;
    letter-spacing: 0.065rem;
    text-align: center;
}

.missed-sale-content a:hover {
    background-color: #c16452;
    border: 1px solid #c16452;
}

@media only screen and (max-width: 768px) {
    .missed-sale-container {
        padding: 3.5rem 0;
        width: 90%;
        flex-direction: column;
        align-items: start;
        gap: 5.5rem;
    }

    .missed-sale-images {
        text-align: end;
    }

    .missed-sale-img1 {
        width: 52%;
        bottom: 16rem;
        left: 1rem;
    }

    .missed-sale-img2 {
        width: 57.6%;
    }

    .missed-sale-content {
        width: 100%;
        gap: 0;
    }

    .missed-sale-content h2 {
        font-size: 1.625rem;
        margin-bottom: 0.625rem;
    }

    .missed-sale-content a {
        margin-top: 1.75rem;
    }
}