.YoutubeVideo-Section {
    width: 100%;
}

.YoutubeVideo-Container {
    filter: brightness(0.9);
}

iframe {
    width: 100%;
    height: 53.375rem;
    border: none;
}

@media only screen and (max-width: 768px) {
    iframe {
        height: 12.5rem;
    }
}